<!DOCTYPE html>
<html>
    <head>
        <title>What you owe</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    </head>
    <body>
        {% if do_not_display %}
            {% if 'user' in session %}
        <div class="navbar">
            <a href="/" class="navbar_buttons" >Homepage</a>
            <a>
                    <form action="/past-data" method="POST">
                        <input id="csv_file" type="hidden" name="csv_file" value={{csv_file}} />
                        <input id="csv_file" type="hidden" name="table_list" value="" />
                        <input type="submit" value="Past Data" class="navbar_buttons"/>
                    </form>
                </a> 
            
                <a>
                    <form action="/table-data" method="post">
                        <input id="csv_file" type="hidden" name="csv_file" value={{csv_file}} />
                        <input type="submit" value="Current Data" class="navbar_buttons"/>
                    </form>
                </a> 
            
        </div>
            {% endif %} 
        {% endif %} 
        
        
        <div class="navbar_right">
            {% if 'user' in session %}
                <a href="/logout" class="navbar_buttons">logout</a>   
            {% endif %}  
        </div>
        <div class="user_name">
            {% if 'user' in session %}
                {{ session['user'] }}
            {% endif %}
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <h3 class="error">{{ message }}</h3>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>