{% extends "base.html" %}

{% block content %}
<h1>Welcome to What You Owe!</h1>
<p>If you don't have an account, you may <a href="/register">register</a> for one</p>
<form action="/login" method="post">
    <table class="register-login-table">
        <tbody><tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </tbody></table><br>
    <input type="submit" value="Login" class="submit">
</form>
{% endblock %}