{% extends "base.html" %}
{% block content %}

<form action="/register" method="post" class="register-form">  
    <div class="login-page">
        <div class="form">
            <h1>Register New Account</h1>
            <input name="email" type="email" name="email" placeholder="email"/>
            <input name="password" type="password" placeholder="password"/>
            <input input name="verify" type="password" placeholder="verify password"/>
            <button>create</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </div>
    </div>
</form>

{% endblock %}
