{% extends "base.html" %}
{% block content %}

<h2>Register New Account</h2>
<form action="/register" method="post">
    <table class="register-login-table">
        <tbody><tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email" name="email">
            </td>
        </tr>
        <tr>
            <td><label for="password">New Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
    </tbody></table><br>
    <input type="submit" value="Register"class="submit"/>
</form>

{% endblock %}

